.card{
    width: 20.9375rem;
    height: 5.875rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    border: 2px solid #000;
    background: #FFF;
}

.details-card{
    display: flex;
    width: 19.25rem;
    height: 4.8125rem;
    justify-content: center;
    align-items: flex-start;
    gap: 2.8125rem;
    flex-shrink: 0;
}

.details-text{
    display: flex;
    width: 20.875rem;
    height: 1.625rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    margin-top: 2rem;
    line-height: normal;
}

.dash-img{
    width: 4.875rem;
    height: 4.8125rem;
    flex-shrink: 0;
    margin-left: -7rem;
    overflow: hidden;
    margin-top: 0.5rem;
    border-radius: 4.875rem;
    background: url("./Ellipse\ 1.svg"), lightgray 50% / cover no-repeat;
}